# Ignore virtual environment
venv/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore logs
*.log

# Ignore local environment settings
*.env

# Ignore IDE/editor settings
.vscode/
.idea/